In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
plt.rcParams['axes.unicode_minus']=False    #用来正常显示负号
plt.rcParams['font.sans-serif']=['SimHei']   #防止中文标签乱码

In [3]:
data = pd.read_csv('./data/1.1/data2.csv')
data.head(5)

,ID,品类,商品名,品牌,店铺名,经济体,省份,地级市,原价,快递费,...,信誉5,活动价6,月销量6,累计评价6,信誉6,平均信誉,是否皇冠,半年销量,半年销售额,客单价
0,558596846348,蛋,鸽子蛋,亿嘉,ecde08c9e65779b6,中国大陆,湖北,孝感,112.86,0.0,...,1247.0,69.00,20.0,72.0,1260.0,1214.333333,0,128.0,9762.00,76.265625
1,531664242111,蛋,其他,other/其他,e25da776fa2f0726,中国大陆,浙江,嘉兴,45.68,0.0,...,2759.0,45.68,94.0,171.0,2800.0,2672.500000,0,792.0,36178.56,45.680000
2,576710529109,蛋,鸡蛋,初晓,ccba4eec3fdff6da,中国大陆,安徽,宣城,98.00,0.0,...,-1.0,69.80,1131.0,1825.0,-1.0,-1.000000,0,7354.0,513309.20,69.800000
3,548104662762,蛋,鸭蛋,百百阳,0e84d4953d5a816a,中国大陆,广西,南宁,118.00,0.0,...,-1.0,59.80,451.0,1803.0,-1.0,-1.000000,0,7503.0,448679.40,59.800000
4,563546480661,蛋,鸟蛋,金必得,e339d3da3c0db9f9,中国大陆,山东,临沂,69.00,0.0,...,-1.0,26.60,2791.0,9086.0,-1.0,-1.000000,0,20785.0,558279.20,26.859716

In [4]:
data_tmp = data[['商品名','品类','半年销量']]
data_tmp = data_tmp.groupby(by = ['品类','商品名'],as_index = False).sum()

In [5]:
data_tmp

     品类  商品名      半年销量
0    水产  三文鱼   71803.0
1    水产  九肚鱼     282.0
2    水产  佛跳墙   97666.0
3    水产  八带鱼    1148.0
4    水产   八爪   14947.0
..   ..  ...       ...
356   蛋  鸵鸟蛋     131.0
357   蛋  鸽子蛋   38759.0
358   蛋   鸽蛋   46865.0
359   蛋  鹌鹑蛋  221000.0
360   蛋   黑蛋   44659.0

[361 rows x 3 columns]

In [6]:
data_tmp1 = data_tmp[data_tmp['品类']=='水产'].sort_values(by=['半年销量'],ascending = False)

In [7]:
data_tmp1.head(10)

    品类  商品名       半年销量
33  水产   海虾  1115545.0
46  水产   虾仁   226324.0
65  水产   鲍鱼   224145.0
45  水产    虾   124788.0
35  水产   牡蛎   110287.0
2   水产  佛跳墙    97666.0
50  水产   贝类    93546.0
79  水产   黄鱼    91885.0
0   水产  三文鱼    71803.0
6   水产   其他    54451.0

In [8]:
data_tmp1 = data_tmp[data_tmp['品类']=='水果'].sort_values(by=['半年销量'],ascending = False)
data_tmp1.head(10)

     品类  商品名       半年销量
124  水果  红富士  5843506.0
112  水果   橙子  4759063.0
121  水果  百香果  2194786.0
129  水果   脐橙  1854970.0
132  水果   苹果  1590845.0
90   水果  奇异果  1434408.0
154  水果  黄柠檬  1395084.0
131  水果   芒果  1295251.0
152  水果  鸡蛋果  1092145.0
137  水果  菠萝蜜   956498.0

In [9]:
data_tmp1 = data_tmp[data_tmp['品类']=='肉'].sort_values(by=['半年销量'],ascending = False)
data_tmp1.head(10)

    品类  商品名       半年销量
170  肉   松鼠  9884554.0
188  肉   猪肉  6070808.0
189  肉  猪肉脯  5483536.0
179  肉  牛肉干  5338293.0
177  肉   牛肉  2214280.0
220  肉   鸡肉  1846317.0
214  肉   香肠  1665481.0
160  肉   其他  1483730.0
198  肉   肉松  1098531.0
229  肉   鸭脖   754759.0

In [10]:
data_tmp1 = data_tmp[data_tmp['品类']=='蔬菜'].sort_values(by=['半年销量'],ascending = False)
data_tmp1.head(10)

     品类   商品名      半年销量
242  蔬菜    南瓜  338678.0
239  蔬菜    其他  200340.0
284  蔬菜    芋头  191278.0
260  蔬菜    槟榔  148629.0
244  蔬菜    土豆  118659.0
273  蔬菜    甜菜  102302.0
307  蔬菜    萝卜   72312.0
262  蔬菜    沙拉   65331.0
333  蔬菜    黄瓜   57851.0
321  蔬菜  铁棍山药   55716.0

In [11]:
data_tmp1 = data_tmp[data_tmp['品类']=='蛋'].sort_values(by=['半年销量'],ascending = False)
data_tmp1.head(10)

    品类  商品名       半年销量
355  蛋   鸭蛋  2751729.0
354  蛋   鸡蛋  1585501.0
339  蛋  咸鸭蛋  1372612.0
340  蛋   喜蛋   434785.0
359  蛋  鹌鹑蛋   221000.0
338  蛋   咸蛋   136321.0
335  蛋   其他    73447.0
337  蛋   卤蛋    65142.0
345  蛋   盐蛋    58055.0
358  蛋   鸽蛋    46865.0

In [12]:
data_tmp = data[data['商品名']=='苹果']

In [13]:
data_tmp1 = data_tmp[['地级市','半年销量']].groupby(by = ['地级市'],as_index = False).sum()

In [14]:
data_tmp1.sort_values(by=['半年销量'],ascending = False).head(10)

    地级市      半年销量
5    徐州  877848.0
10   烟台  303400.0
15  阿克苏  199921.0
4    延安   84954.0
9    渭南   75088.0
2    天水   26872.0
1    咸阳    7197.0
12  秦皇岛    3474.0
0    临汾    3430.0
7    汉中    2666.0

In [15]:
data_tmp1 = data_tmp[['店铺名','半年销量']].groupby(by = ['店铺名'],as_index = False).sum()

In [16]:
data_tmp1.sort_values(by=['半年销量'],ascending = False).head(10)

                 店铺名      半年销量
36  a8f6ea495143466f  873040.0
28  8f770100468d4129  248969.0
14  2cabdc1f2c56303d  139692.0
37  b54aa66ac658b5fb   55196.0
7   175b3d0fff9b92d7   44758.0
22  6787ff711998b08f   31531.0
31  9643eff640ba0f51   23389.0
20  66db31ccec3d9f32   20531.0
15  381cad9e422f8191   19406.0
5   0b495fe4de7a10b0   11052.0